[Unit]
Description=Weston display daemon

[Service]
User=display
WorkingDirectory=/run/%u
ExecStart=/bin/sh -c 'backend=drm ; [ -d /dev/dri ] || backend=fbdev ; exec /usr/bin/weston --backend=$backend-backend.so -i0 --log=/run/%u/weston.log'
StandardInput=tty
TTYPath=/dev/tty7
EnvironmentFile=/etc/sysconfig/weston
Restart=on-failure
RestartSec=10

#adding the capability to configure ttys
#may be needed if the user 'display' doesn't own the tty
#CapabilityBoundingSet=CAP_SYS_TTY_CONFIG 

[Install]
WantedBy=graphical.target
