[Unit]
Description=Shared weston session

[Service]
ExecStartPre=/usr/bin/ln -s /run/display/wayland-0 /run/user/%U/
ExecStart=/usr/bin/tz-launcher /usr/share/applications/weston-terminal.desktop

[Install]
WantedBy=default.target
